@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../assets/bg.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Istok Web', sans-serif;
  font-size: 80px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.result-section {
  text-align: center;
}

.game-result {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  padding: 20px 50px 10px;
  border-bottom: 10px solid;
  text-align: center;
}

.result {
  font-size: 100px;
  margin: 0;
}

.result + p {
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

.options {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 40px;
  left: 0;

  button {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 30px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    position: relative;
    top: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    border-bottom: 10px solid rgba(0,0,0,0.9);
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      background: rgba(0, 0, 0, 0.6);
      top: -10px;
    }

    span {
      font-size: 60px;
    }
  }
}

.rock-scissors,
.rock-lizard,
.paper-rock,
.paper-spock,
.scissors-paper,
.scissors-lizard,
.lizard-spock,
.lizard-paper,
.spock-scissors,
.spock-rock {
  color: #1f8c1f;
}

.rock-paper,
.rock-spock,
.paper-scissors,
.paper-lizard,
.scissors-rock,
.scissors-spock,
.lizard-rock,
.lizard-scissors,
.spock-lizard,
.spock-paper {
  color: #9a1515;
}

.draw {
  color: #885c0c;
}